[default]
address = "0.0.0.0"
port = 8000

[debug]
workers = 1
keep_alive = 0
log_level = "normal"
smtp_url = "<smtp_url>"
email_from = "<email_from>"
secret_key = "<secret_key>"

[debug.databases.main_db]
url = "<db_url>"
